@import "../valo/valo.scss";

@mixin tttheme {
  @include valo;

  .v-button-important {
    color: #000066;
    font-weight: bold;
  }

  .v-captiontext {
    font-weight: bold;
  }

  .v-caption {
    font-weight: bold;
  }

  .v-select-twincol-caption-left {
    font-weight: bold;
  }

  .v-select-twincol-caption-right {
    font-weight: bold;
  }

  .v-window-header {
    color: black;
    font-weight: bold;
  }

  .holiday {
    color: grey;
    font-weight: bold;
    font-style: italic;
  }

  .today {
    color: blue;
    font-weight: bold;
  }

  .v-slot-border {
    border-style: solid;
    border-width: 1px;
    border-color: #D4D4D4;
    background-color: #F8F8F8;
  }

  .border {
    padding: 15px !important;
  }

  .small-btn {
    height: 25px;
  }

  .v-caption-border .v-captiontext {
    font-style: italic;
    font-weight: unset;
    background-color: #F0F0F0;
    padding: 3px;
  }

  .v-datefield-calendarpanel-month {
    color: black;
    font-weight: bold;
    font: 300 16px/1.55 "Open Sans", sans-serif;
  }
}
